/* -------------------- Left Sidebar -------------------- */

/* Container */
.left-sidebar {
    background: red;
  }
  
  /* Hyperlink (About Me) */
  a.hyperlink-large {
    color: inherit;
    text-decoration: none;
  }
    
  /* Contact details container */
  /* .contact-details {} */
    /* Email / CV download links styling lives here */
  
  