/* -------------------- Single Project Section -------------------- */
.single-project {
  padding: var(--space-md);
  box-sizing: border-box;
}

/* Make ScrollTrackingHeader span full width */
.single-project .scroll-tracking-header {
  margin-left: calc(var(--space-sm) * -1);
  margin-right: calc(var(--space-sm) * +1);
  /* padding-left: var(--space-sm); */
  /* padding-right: 0; */
}

@media (min-width: 768px) {
  .single-project {
    /* background: pink; */
    width: 33.33%;
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
    /* overflow-x: hidden; prevents horizontal scroll */
    /* position: relative; needed for absolute header */
  }
}

@media (max-width: 767px) {
  .single-project .scroll-tracking-header { display: none; }
}