/* -------------------- Main Details Section -------------------- */
.main-details {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main-details {
    background: orange;
    width: 33.33%;
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
  }
}
