/* -------------------- SideGallery Styles -------------------- */

.side-gallery {
    background: blue;  
    display: flex;
    flex-direction: column; /* stack images vertically */
    width: 33.33%;
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
  }
  
  .side-gallery img {
    width: 100%; /* make each image fill the container width change later*/
    height: auto; /* maintain aspect ratio */
    object-fit: cover; /* ensure it fills without distortion */
  }
  