/* -------------------- SideGallery Styles -------------------- */

.side-gallery {
    background: blue;
  }
  
  .side-gallery {
    display: flex;
    flex-direction: column; /* stack images vertically */
    /* gap: 16px; space between images */
    /* padding: 16px; */
  }
  
  .side-gallery img {
    width: 33.33%; /* make each image fill the container width change later*/
    height: auto; /* maintain aspect ratio */
    object-fit: cover; /* ensure it fills without distortion */
  }
  